server:
  port: 8080

spring:
  application:
    name: cloud-msg-platform
  
  r2dbc:
    url: r2dbc:mysql://localhost:3306/cloud_msg
    username: root
    password: password
    pool:
      initial-size: 5
      max-size: 20
  
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 1000ms
  
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: cloud-msg-group
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    root: INFO
    com.lzk.cloudmsg: DEBUG
